<div class="container">
    <br>
    <br>
    <div class="row burgrow" id="top">
        <div class="jumbotron burgTron">
            <div class="row justify-content-center">
                <h1>Burgs!</h1>
            </div>

            <div class="row justify-content-center">
                <img class="fluid burg" src="/burg.png">
            </div>
        </div>
    </div>
    <div class="dalettuce row">lorem ipsum</div>

    <div class="row dameat">
        <div class="col-6">
            <h2>Burgers that haven't been eaten!</h2>

            <ul>
                {{#each burgers}} {{#unless devoured}} {{> burgers/burger-block devoured=true}} {{/unless}} {{/each}}
            </ul>
        </div>

        <div class="col-6">
            <h2>Burgers that
                <i>have</i> been eaten!</h2>

            <ul>
                {{#each burgers}} {{#if devoured}} {{> burgers/burger-block devoured=false}} {{/if}} {{/each}}
            </ul>
        </div>
    </div>

    <div class="row burgrow" id="bottom">
        <div class="jumbotron burgTron">
            <div class="row justify-content-center">
                <h2>Add a burg</h2>
            </div>
            <form class="create-form">
                <div class="col">

                    <div class="row justify-content-center">
                        <label for="ca">Burger Name: </label>
                    </div>
                    <div class="row justify-content-center">
                        <input type="text" id="ca" name="name">
                    </div>
                </div>
                <br>
                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-info">Add Burger</button>
                </div>
            </form>
        </div>
    </div>

</div>